*
!/linux-3.10-sc7730
!/linux-3.10-sc7730/arch
!/linux-3.10-sc7730/arch/arm
!/linux-3.10-sc7730/arch/arm/kernel
!/linux-3.10-sc7730/arch/arm/kernel/calls.S

!/linux-3.10-sc7730/arch/arm/include/
!/linux-3.10-sc7730/arch/arm/include/asm/
!/linux-3.10-sc7730/arch/arm/include/asm/unistd.h

!/linux-3.10-sc7730/include/
!/linux-3.10-sc7730/include/linux/
!/linux-3.10-sc7730/include/linux/syscalls.h

!/linux-3.10-sc7730/.gitignore
